body,
html,
input,
button {
  font-family: "Inter", sans-serif;
  font-size: 11px;
}

body,
html {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    opacity: 0.85;
  }
}

#main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#main {
  width: 100%;
  max-width: 600px;
  padding: 12px;
}

#comment-box {
  display: flex;
  margin-top: 31px;

  input {
    flex: 1;
    font-weight: 500;
    padding: 8px 10px;
    border: 1px #e5e5e5 solid;
    border-radius: 4px;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border: 1px solid #dbc5ff;
    }
  }
}

#profile-pic {
  margin-right: 12px;
  cursor: pointer;
}

h1 {
  font-weight: 700;
  font-size: 18px;
  margin-top: 32px;
}

.btn-primary {
  background-color: #7e34f6;
  color: white;
  outline: none;
  border: none;
  padding: 8px 18px;
  border-radius: 4px;
  margin-left: 13px;
  font-weight: 700;
}

hr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 44px 0;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 32px;
  font-size: 13px;

  .comment-content {
    margin-left: 11px;
    width: 100%;

    .comment-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 2px;
      margin-bottom: 6px;

      .comment-name {
        font-weight: 600;
        line-height: 1em;
      }

      .comment-date {
        margin-left: 4px;
        font-size: 11px;
        color: #4b587c;
        line-height: 1em;
      }
    }

    .comment-text {
      line-height: 1.5em;
    }

    .comment-btns {
      margin-top: 8px;
      width: 100%;

      button {
        background: none;
        border: none;
        outline: none;
        color: #4b587c;
        padding: 8px 0;
        font-weight: 600;
      }

      button + button {
        margin-left: 28px;
      }
    }
  }
}

.comment-thread {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 14px;
    z-index: -1;
    background-color: #eaeaea;
    // border-left: 2px solid black;
  }
}

.comment-children {
  margin-left: 24px;
}

img {
  border-radius: 32px;
  width: 30px;
}
